<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getRenderingDatasource>
        <processor type="Sc.Commons.EnsureDatasourceFolder.EnsureDatasourceFolderProcessor, Sc.Commons.EnsureDatasourceFolder" patch:before="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']">
          <param desc="sortOrder">0</param>
          <param desc="templateId">{A87A00B1-E6DB-45AB-8B54-636FEC3B5523}</param>
        </processor>
      </getRenderingDatasource>
    </pipelines>
  </sitecore>
</configuration>